<B> national economic freedom </B>

In [10]:
data = {
    'Singapore': 1,
    'Ireland': 6,
    'United Kingdom': 7,
    'Germany': 27,
    'Armenia': 34,
    'United States': 17,
    'Canada': 9,
    'Italy': 74
}
x = input()
#if x in data:
print(data.get(x,"Not Found"))
#else:
    #print("Not Found")

Iran
Not Found

<B> contacts search <B>

In [11]:
contacts = [
    ('James', 42),
    ('Amy', 24),
    ('John', 31),
    ('Amanda', 63),
    ('Bob', 18)
]
names = input()
for x in contacts:
    if names in x:
        print(names,"is",str(x[1]))
        break
else:
    print("Not Found")

Bob
Bob is 18

<B> Tuple Unpacking , cal() <B>

In [ ]:
def calc(x):
    #your code goes here
    return (x*4 , x**2)

side = int(input())
p, a = calc(side)

print("Perimeter: " + str(p))
print("Area: " + str(a))

<b>    sets   </b>

In [1]:
skills = {'Python', 'HTML', 'SQL', 'C++', 'Java', 'Scala'}
job_skills = {'HTML', 'CSS', 'JS', 'C#', 'NodeJS'}

print (list( skills & job_skills) [0] )

HTML

<b> vowels </b>

In [14]:
word = input()
vowels = { "a" , "e" , "o" , "u" , "i"}
a=[i for i in word if i not in vowels]
print(a)

marjan
['m', 'r', 'j', 'n']

In [17]:
nums = (55, 44, 33, 22)
print(nums[:2],abs(-42))
print(max(min(nums[:2]), abs(-42)))

(55, 44) 42
44

<b> Letter Counter </b>

In [ ]:
text = input()
dict = {}
#your code goes here
for i in text:
    if i not in dict:
        dict[i]=1
        
    else:
        dict[i]+=1 
print(dict)

<b> Lambda challenge </b>

In [2]:
price = int(input())
perc = int(input())

res = (lambda x,y:x*y/100)(price, perc)

print(res)

100
20
20.0

In [6]:
add_five = lambda number: number + 5
print(add_five(number=4))

9

<b> map challenge </b>

In [9]:
salaries = [2000, 1800, 3100, 4400, 1500]
bonus = int(input())
salaries = list(map(lambda x: bonus+x , salaries))
print(salaries)

15002
[17002, 16802, 18102, 19402, 16502]