<B> national economic freedom </B>

In [10]:
data = {
    'Singapore': 1,
    'Ireland': 6,
    'United Kingdom': 7,
    'Germany': 27,
    'Armenia': 34,
    'United States': 17,
    'Canada': 9,
    'Italy': 74
}
x = input()
#if x in data:
print(data.get(x,"Not Found"))
#else:
    #print("Not Found")

Iran
Not Found

<B> contacts search <B>

In [11]:
contacts = [
    ('James', 42),
    ('Amy', 24),
    ('John', 31),
    ('Amanda', 63),
    ('Bob', 18)
]
names = input()
for x in contacts:
    if names in x:
        print(names,"is",str(x[1]))
        break
else:
    print("Not Found")

Bob
Bob is 18

<B> Tuple Unpacking , cal() <B>

In [ ]:
def calc(x):
    #your code goes here
    return (x*4 , x**2)

side = int(input())
p, a = calc(side)

print("Perimeter: " + str(p))
print("Area: " + str(a))

<b>    sets   </b>

In [1]:
skills = {'Python', 'HTML', 'SQL', 'C++', 'Java', 'Scala'}
job_skills = {'HTML', 'CSS', 'JS', 'C#', 'NodeJS'}

print (list( skills & job_skills) [0] )

HTML